@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my web application. I'm just experimenting with the home view here.</p>
    <p>How does it format a secont paragraph?</p>
    <p>Or a third?</p>
    <h5>How about an h5?</h5>
</div>
